.slide-bg {
  width: 100%;
  height: 70vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 20s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background-image: url("./imagenes/\ bg.jpeg");
}

.logo {
  width: 130px;
  margin-left: 200px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.nav {
  margin-right: 100px;
}
.nav a {
  color: grey;
}
.header-content {
  text-align: center;
}
.btn {
  margin-right: 10px;
}
.header-text {
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-overflow: ellipspsis;
}
.text-h5 {
  margin-top: 20px;
  color: white;
  text-justify: distribute-all-lines;
}
@keyframes slideBg {
  0% {
    background-image: url("./imagenes/\ bg.jpeg");
  }
  25% {
    background-image: url("./imagenes/header_background_30.jpeg");
  }
  50% {
    background-image: url("./imagenes/home-bg.jpg");
  }
  75% {
    background-image: url("./imagenes/\ bg.jpeg");
  }
  100% {
    background-image: url("./imagenes/header_background_30.jpeg");
  }
}

.error {
  padding: 0.5rem;
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px solid red;
  border-radius: 6px;
  margin: 0.5rem 0 0 0;
}

.input {
  margin-left: 75px;
  width: 120px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #777;
  padding: 0.5rem;
  box-sizing: border-box;
}
.input-pass {
  margin-left: 30px;
  width: 120px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #777;
  padding: 0.5rem;
  box-sizing: border-box;
}

.submit {
  width: 100px;
  padding: 0.5rem 0;
  background-color: #00a6ff;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 1px 4px 0 rgba(22, 24, 26, 0.15);

  &.disabled {
    background-color: #e6e6e6;
    color: #292929;
    box-shadow: inherit;
  }
}

.footer {
  background-color: black;
}

.text-footer {
  color: white;
  text-transform: uppercase;
}
.main {
  text-align: center;
}
.content {
  text-align: center;
  display: block;
}
.content-img {
  width: 300px;
}
.row-form {
  padding: 0.5rem 0;
}
.card {
  text-align: center;
}
